@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для скрытия скроллбара но сохранения возможности скролла */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Плавные переходы */
* {
  transition: background-color 0.2s ease, transform 0.2s ease;
}